@using CarCatalog.Services.Data.Interfaces
@using CarCatalog.Web.Infrastructure.Extensions
@using HouseRentingSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@inject ICarSellerService CarSellerService
@inject ICarBuyerService CarBuyerService
@inject IUserService UserService
@{
    bool isUserSeller = await CarSellerService.CarSellerExistsByUserIdAsync(this.User.GetId()!);
    bool isUserBuyer = await CarBuyerService.CarBuyerExistsByUserIdAsync(this.User.GetId()!);
    string? fullName = await UserService.GetFullNameByEmailAsync(User.Identity?.Name!);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (!isUserBuyer && !isUserSeller)
        {
            if (this.User.IsAdmin())
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @fullName!</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @fullName!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="CarBuyer" asp-action="Enter">Enter as a buyer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="CarSeller" asp-action="Enter">Enter as a seller</a>
                </li>
            }
        }
        else if (isUserBuyer && !isUserSeller && !this.User.IsAdmin())
        {
            string buyerUsername = await CarBuyerService.GetCarBuyerUsernameByUserIdAsync(this.User.GetId()!);
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @buyerUsername!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="CarSeller" asp-action="Enter">Enter as a seller</a>
            </li>
        }
        else if (isUserSeller && !isUserBuyer && !this.User.IsAdmin())
        {
            string sellerUsername = await CarSellerService.GetCarSellerUsernameByUserIdAsync(this.User.GetId()!);
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @sellerUsername!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="CarBuyer" asp-action="Enter">Enter as a buyer</a>
            </li>
        }
        else
        {
            string buyerUsername = await CarBuyerService.GetCarBuyerUsernameByUserIdAsync(this.User.GetId()!);
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @buyerUsername!</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
