@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <img src="https://lh6.googleusercontent.com/Bu-pRqU_tWZV7O3rJ5nV1P6NjqFnnAs8kVLC5VGz_Kf7ws0nDUXoGTc7pP87tyUCfu8VyXi0YviIm7CxAISDr2lJSwWwXQxxz98qxVfMcKTJfLPqbcfhn-QEeOowjrlwX1LYDFJN"/>
    <h3>
        The page you were looking for is not found! Check the URL or return to the home page.
        <br />
        <a asp-controller="Home" asp-action="Index">Home</a>
    </h3>
</div>