@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <img src="https://handsontek.net/images/SharePoint/401/401.png"/>
    <h3>
        You need authorization to access this page! Return to the home page or contact the site owner.
        <br />
        <a asp-controller="Home" asp-action="Index">Home</a>
    </h3>
</div>